<div class="row" xmlns="http://www.w3.org/1999/html">
  <form class="col s12" name="form" (ngSubmit)="onSubmit(editForm)" [formGroup]="editForm" novalidate>
    <div class="row">
      <div class="input-field col s6">
        <input id="username" type="text" class="validate" name="firstName" formControlName="firstName">
        <label for="username">Имя</label>
      </div>
      <div class="input-field col s6">
        <input id="lastname" type="tel" class="validate" name="lastName" formControlName="lastName">
        <label for="lastname">Фамилия</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <input id="salary" type="number" class="validate" name="salary" formControlName="salary">
        <label for="salary">Зарплата</label>
      </div>
      <div class="input-field col s4">
        <input id="birthday" type="date" class="datepicker validate" materialize="pickadate" name="birthday" formControlName="birthday">
        <label for="birthday">Дата рождения</label>
      </div>
      <div class="input-field col s4 remove-margin">
        <div class="input-field col s12">
          <select multiple  materialize="material_select" name="active" formControlName="active">
            <option value="" disabled selected>Выберите статус</option>
            <option [ngValue]="true">Работает</option>
            <option [ngValue]="false">Уволен</option>
          </select>
        </div>
      </div>
    </div>
    <input class="waves-effect waves-light btn" value="Изменить" type="submit" [disabled]="editForm.invalid" >
    <a class="waves-effect waves-light btn" (click)="goBack()">Назад</a>
  </form>
    {{errMessage}}
</div>