/* You can add global styles to this file, and also import other style files */

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.preloader-wrapper.big {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.picker__close, .picker__today, .picker__clear{
  font-size: 0.7rem;
  padding: 0 0.7rem;
}